<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <!--数据库驱动-->
  <classPathEntry
    location="D:\develop\mvnlib\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>

  <context id="myBatis3" targetRuntime="MyBatis3">
    <property name="mergeable" value="true"/>
    <property name="javaFileEncoding" value="UTF-8"/>

    <commentGenerator>
      <property name="suppressDate" value="true"/>
      <property name="suppressAllComments" value="true"/>
      <property name="addRemarkComments" value="true"/>
    </commentGenerator>

    <!--数据库链接地址账号密码-->
    <jdbcConnection connectionURL="jdbc:mysql://localhost:3306/kds_question_bank"
      driverClass="com.mysql.jdbc.Driver" password="123456" userId="root">
    </jdbcConnection>
    <javaTypeResolver>
      <property name="forceBigDecimals" value="false"/>
    </javaTypeResolver>

    <!--生成Model类存放位置-->
    <javaModelGenerator targetPackage="top.alertcode.trainhigh.common.domian"
      targetProject="src/main/java">
      <property name="enableSubPackages" value="true"/>
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!--生成映射文件存放位置-->
    <sqlMapGenerator targetPackage="mybatis" targetProject="src/main/resources">
      <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>

    <!--生成Dao类存放位置-->
    <javaClientGenerator targetPackage="top.alertcode.trainhigh.mapper"
      targetProject="src/main/java"
      type="XMLMAPPER">
      <property name="enableSubPackages" value="true"/>
    </javaClientGenerator>

    <!--生成对应表及类名-->

    <table domainObjectName="KdsChapterPoint" tableName="kds_chapter_point"></table>

  </context>
</generatorConfiguration>